In [4]:
import pandas as pd

file_path = '/Users/sonjungho/DA_BookStudy_practice/workspace/python-data-analysis/data/chipotle.tsv'
chipo = pd.read_csv(file_path, sep = '\t')

# 미니퀴즈

##

value_counts()는 **어떤 컬럼/Series의 unique value들을 count해주는** 함수

결과 :  인덱스가 unique value들이고, 값은 count가 들어가 있는 Series를 반환한다.

In [10]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [18]:
itname = chipo['item_name']

In [20]:
itname.value_counts()[:10]

Chicken Bowl           726
Chicken Burrito        553
Chips and Guacamole    479
Steak Burrito          368
Canned Soft Drink      301
Chips                  211
Steak Bowl             211
Bottled Water          162
Chicken Soft Tacos     115
Chicken Salad Bowl     110
Name: item_name, dtype: int64

unique()는 **어떤 컬럼/Series의 unique value를 도출하는** 함수

결과 : unique value를 값으로 구성한 np.ndarray를 반환한다.

In [24]:
itname.unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [25]:
itname.unique().tolist()

['Chips and Fresh Tomato Salsa',
 'Izze',
 'Nantucket Nectar',
 'Chips and Tomatillo-Green Chili Salsa',
 'Chicken Bowl',
 'Side of Chips',
 'Steak Burrito',
 'Steak Soft Tacos',
 'Chips and Guacamole',
 'Chicken Crispy Tacos',
 'Chicken Soft Tacos',
 'Chicken Burrito',
 'Canned Soda',
 'Barbacoa Burrito',
 'Carnitas Burrito',
 'Carnitas Bowl',
 'Bottled Water',
 'Chips and Tomatillo Green Chili Salsa',
 'Barbacoa Bowl',
 'Chips',
 'Chicken Salad Bowl',
 'Steak Bowl',
 'Barbacoa Soft Tacos',
 'Veggie Burrito',
 'Veggie Bowl',
 'Steak Crispy Tacos',
 'Chips and Tomatillo Red Chili Salsa',
 'Barbacoa Crispy Tacos',
 'Veggie Salad Bowl',
 'Chips and Roasted Chili-Corn Salsa',
 'Chips and Roasted Chili Corn Salsa',
 'Carnitas Soft Tacos',
 'Chicken Salad',
 'Canned Soft Drink',
 'Steak Salad Bowl',
 '6 Pack Soft Drink',
 'Chips and Tomatillo-Red Chili Salsa',
 'Bowl',
 'Burrito',
 'Crispy Tacos',
 'Carnitas Crispy Tacos',
 'Steak Salad',
 'Chips and Mild Fresh Tomato Salsa',
 'Veggie Soft Tacos',
 'Carnitas Salad Bowl',
 'Barbacoa Salad Bowl',
 'Salad',
 'Veggie Crispy Tacos',
 'Veggie Salad',
 'Carnitas Salad']

##

### 위의 예제 코드는 2개의 코드 라인이 있습니다.두 라인은 각각 어떤 값을 담고 있을까요?

In [ ]:
#a,b 둘다 리스트이지만
a = drinks['continent'].value_counts().index.tolist()
#a는 unique values(인덱스값)을 지니고 있고 -- ex. ['AF', 'EU', 'AS', 'OT', 'OC', 'SA']
b = drinks['continent'].value_counts().values.tolist()
#b는 unique values의 counts값을 순서대로 지니고 있다.  -- ex. [53, 45, 44, 23, 16, 12]

### plt의 pie()함수는 위의 두 코드 라인의 결과값을 사용합니다. fracs1과 labels는 어떤 의미를 가지는 파라미터일까요?

In [ ]:

labels = drinks['continent'].value_counts().index.tolist()
#label는 값이 어떤 의미를 지니는지 표시(labeling)하는 파라미터
fracs1 = drinks['continent'].value_counts().values.tolist()
#fracs1는 파이 차트로 표현하고 싶은 values
explode = (0, 0, 0, 0.25, 0, 0)

plt.pie(fracs1, explode=explode, labels=labels, autopct='%.0f%%', shadow=True)
plt.title('null data to \'OT\'')
plt.show()

##

### 위의 예제 코드(분석 결과를 시각화하기)에는 4개의 코드라인이 있습니다. 각각 어떤 값을 담고 있을까요?

In [2]:
#result = drinks.groupby('continent').spirit_servings.agg(['mean', 'min', 'max', 'sum'])
#result는 spirit_servings의 대륙별(continent) mean, min, max, sum 값을 지니고 있는 DF이다.

means = result['mean'].tolist()
mins = result['min'].tolist()
maxs = result['max'].tolist()
sums = result['sum'].tolist()

#각각의 4가지 코드라인은 대륙별 mean, min, max, sum을 리스트로 지니고 있다.

NameError: name 'result' is not defined

### 위의 예제 코드(분석 결과를 시각화하기)에서 matplotlib의 각종 디자인 기능을 찾아봅시다.

In [ ]:
#1 첫 번째 그래프에서 4개의 통계 종류를 나타내는 디자인 기능이 담긴 코드가 어떤 코드인지 찾아보시오

rects1 = plt.bar(index, means, bar_width, color='r', label='Mean')
rects2 = plt.bar(index + bar_width, mins, bar_width, color='g', label='Min')
rects3 = plt.bar(index + bar_width * 2, maxs, bar_width, color='b', label='Max')
rects4 = plt.bar(index + bar_width * 3, sums, bar_width, color='y', label='Sum')

#2 두 번째와 세 번째 그래프에서 하나의 막대만 다르게 색상을 변경하는 코드가 어떤 코드인지 찾아보세요. 그리고 막대를 녹색으로 바꿔보세요.

bar_list[len(continents) - 1].set_color('r')

bar_list[continents.index("EU")].set_color('r')

# 연습 문제

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [5]:
file_path = '/Users/sonjungho/DA_BookStudy_practice/workspace/python-data-analysis/data/drinks.csv'
drinks = pd.read_csv(file_path)
drinks['continent'] = drinks['continent'].fillna('OT')

## 대륙별 평균 wine_servings를 탐색합니다.

In [15]:
drinks.groupby("continent").wine_servings.agg(['mean', 'min', 'max', 'sum'])
# 대륙별 평균 wine_servings는 아래와 같다.

                 mean  min  max   sum
continent
AF          16.264151    0  233   862
AS           9.068182    0  123   399
EU         142.222222    0  370  6400
OC          35.625000    0  212   570
OT          24.521739    1  100   564
SA          62.416667    1  221   749

In [16]:
drinks.groupby("continent").wine_servings.mean()
#wine_servings만 별도로 이렇게 구할 수도 있다.

continent
AF     16.264151
AS      9.068182
EU    142.222222
OC     35.625000
OT     24.521739
SA     62.416667
Name: wine_servings, dtype: float64

## 국가별 모든 servings의 합을 계산한 total_servings라는 피처를 생성합니다.

In [17]:
drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     193 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

In [19]:
drinks['total_servings'] = drinks['beer_servings'] + drinks['spirit_servings'] + drinks['wine_servings']
drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     193 non-null    object
 6   total_servings                193 non-null    int64
dtypes: float64(1), int64(4), object(2)
memory usage: 10.7+ KB

## 전체 평균보다 적은 알코올을 마시는 대륙 중, spirit를 가장 많이 마시는 국가를 찾아봅니다.

In [48]:
#전체 평균 알콜 섭취량 
mean_alcohol = drinks['total_litres_of_pure_alcohol'].mean()
mean_alcohol

4.717098445595855

In [55]:
#전체 평균 대비 적은 알콜 마시는 대륙 
continent_alcohol = drinks.groupby("continent").mean()
continent_alcohol_under = continent_alcohol[continent_alcohol["total_litres_of_pure_alcohol"] > mean_alcohol].index.tolist()
continent_alcohol_under

['EU', 'OT', 'SA']

In [57]:
#해당 대륙을 drinks 데이터 프레임으로 만들기
df_continent_under_mean = drinks.loc[drinks.continent.isin(continent_alcohol_under)]
df_continent_under_mean

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,total_servings,alcoholrate_per_servings
1,Albania,89,132,54,4.9,EU,275,0.017818
3,Andorra,245,138,312,12.4,EU,695,0.017842
5,Antigua & Barbuda,102,128,45,4.9,OT,275,0.017818
6,Argentina,193,25,221,8.3,SA,439,0.018907
7,Armenia,21,179,11,3.8,EU,211,0.018009
...,...,...,...,...,...,...,...,...
180,Ukraine,206,237,45,8.9,EU,488,0.018238
182,United Kingdom,219,126,195,10.4,EU,540,0.019259
184,USA,249,158,84,8.7,OT,491,0.017719
185,Uruguay,115,35,220,6.6,SA,370,0.017838
188,Venezuela,333,100,3,7.7,SA,436,0.017661

In [29]:
country_low_alcohol = drinks[drinks['total_litres_of_pure_alcohol'] < mean_alcohol]
country_low_alcohol.sort_values(by = ['spirit_servings'], ascending = 0)
#Philippines이 spirit_servings이 186으로 가장 높다.

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,total_servings
134,Philippines,71,186,1,4.6,AS,258
7,Armenia,21,179,11,3.8,EU,211
21,Bosnia-Herzegovina,76,173,8,4.6,EU,257
96,Liberia,19,152,2,3.1,AF,173
43,Cuba,93,137,5,4.2,OT,235
...,...,...,...,...,...,...,...
107,Mauritania,0,0,0,0.0,AF,0
111,Monaco,0,0,0,0.0,EU,0
118,Nauru,49,0,8,1.0,OC,57
128,Pakistan,0,0,0,0.0,AS,0
97,Libya,0,0,0,0.0,AF,0

## 술 소비량 대비 알코올 비율을 구해봅니다.

In [34]:
drinks['alcoholrate_per_servings'] = drinks['total_litres_of_pure_alcohol'] / drinks['total_servings']
drinks['alcoholrate_per_servings'] = drinks['alcoholrate_per_servings'].fillna(0)

In [38]:
drinks.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,total_servings,alcoholrate_per_servings
count,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098,236.606218,0.026115
std,101.143103,88.284312,79.697598,3.773298,209.307863,0.033473
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000,45.000000,0.017734
50%,76.000000,56.000000,8.000000,4.200000,173.000000,0.017883
75%,188.000000,128.000000,59.000000,7.200000,392.000000,0.018495
max,376.000000,438.000000,370.000000,14.400000,695.000000,0.266667

##  대륙별로 술 소비량 대비 알코올 비율을 계산합니다.

In [41]:
drinks.groupby('continent').alcoholrate_per_servings.sum()
#요렇게 구했당.. 아프리카 지못미..

continent
AF    2.636258
AS    0.719797
EU    0.788717
OC    0.270327
OT    0.410644
SA    0.214415
Name: alcoholrate_per_servings, dtype: float64